@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital@1&family=Tinos&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tinos", serif;
  background-image: linear-gradient(#414141, #000000);
}

.main-page {
  background-image: url("Background.jpg");
  height: 100vh;
  background-repeat: no-repeat;
}

.navbar {
  padding-top: 42px;
  display: flex;
  margin-right: 100px;
  margin-left: 405px;
}
.face {
  margin-right: 20px;
  height: 60px;
  width: 60px;
}

.logo-text {
  width: 143px;
  height: 43px;
  margin-right: 65px;
}

.links {
  padding-top: 28px;
  font-size: 18px;
}

.links a {
  color: #fff;
  padding-left: 56px;
  text-decoration: none;
}

.new-song {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  padding-left: 400px;
  padding-top: 212px;
}

.war4love {
  font-size: 100px;
  font-weight: 700;
  padding-left: 400px;
}

.play {
  padding-left: 400px;
  padding-right: 400px;
  margin-top: 64px;
  display: flex;
  width: 100vh;
}

.play-button {
  width: 25px;
  height: 22px;
}

.line {
  width: 887px;
  height: 2px;
  margin-top: 10px;
  padding-left: 10px;
}

.time {
  color: #fff;
  font-size: 15px;
  padding-left: 15px;
  padding-top: 3px;
}

.time2 {
  color: #fff;
  font-size: 15px;
  padding-top: 3px;
}

.info-cards {
  display: flex;
  margin-top: -100px;
  justify-content: center;
  padding-left: 400px;
  padding-right: 400px;
}
.card {
  padding: 30px;
}
.card img {
  border-radius: 20px 0px;
  width: 350px;
  height: 300px;
}

.card-text {
  opacity: 0.9;
  background-color: #7a66cc;
  width: 309px;
  height: 90px;
  border-radius: 20px 0px;
  padding: 20px 21px;
  font-weight: 500;
  font-size: 20px;
  margin-top: -134px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary {
  display: flex;
}

.headertext {
  display: flex;
}
.infotext {
  padding-left: 400px;
  
  margin-top: 100px;
  color: aliceblue;
}

.player {
  display: flex;
  transform: rotateX(180deg);
  margin-bottom: 10px;
  margin: 10px;
}
.palka1 {
  width: 4px;
  height: 23px;
  background-color: #7a66cc;
  opacity: 0.6;
  border: 0.5px solid #1c1b21;
}
.palka2 {
  width: 4px;
  height: 13px;
  background-color: #7a66cc;
  opacity: 0.3;
  border: 0.5px solid #1c1b21;
}
.palka3 {
  width: 4px;
  height: 26px;
  background-color: #7a66cc;
  opacity: 0.8;
  border: 0.5px solid #1c1b21;
}
.palka4 {
  width: 4px;
  height: 19px;
  background-color: #7a66cc;
  opacity: 0.6;
  border: 0.5px solid #1c1b21;
}
.palka5 {
  width: 4px;
  height: 31px;
  background-color: #7a66cc;

  border: 0.5px solid #1c1b21;
}
.palka6 {
  width: 4px;
  height: 26px;
  background-color: #7a66cc;
  opacity: 0.9;
  border: 0.5px solid #1c1b21;
}
.palka7 {
  width: 4px;
  height: 21px;
  background-color: #7a66cc;
  opacity: 0.6;
  border: 0.5px solid #1c1b21;
}
.palka8 {
  width: 4px;
  height: 28px;
  background-color: #7a66cc;
  opacity: 0.8;
  border: 0.5px solid #1c1b21;
}
.palka9 {
  width: 4px;
  height: 14px;
  background-color: #7a66cc;
  opacity: 0.4;
  border: 0.5px solid #1c1b21;
}
.palka10 {
  width: 4px;
  height: 19px;
  background-color: #7a66cc;
  opacity: 0.5;
  border: 0.5px solid #1c1b21;
}
.palka11 {
  width: 4px;
  height: 23px;
  background-color: #7a66cc;
  opacity: 0.55;
  border: 0.5px solid #1c1b21;
}
.palka12 {
  width: 4px;
  height: 27px;
  background-color: #7a66cc;
  opacity: 0.6;
  border: 0.5px solid #1c1b21;
}
.palka13 {
  width: 4px;
  height: 12px;
  background-color: #7a66cc;
  opacity: 0.3;
  border: 0.5px solid #1c1b21;
}
.palka14 {
  width: 4px;
  height: 7px;
  background-color: #7a66cc;
  opacity: 0.2;
  border: 0.5px solid #1c1b21;
}
.palka15 {
  width: 4px;
  height: 29px;
  background-color: #7a66cc;
  opacity: 0.8;
  border: 0.5px solid #1c1b21;
}

.brightlights {
  font-weight: 700;
  font-size: 48px;
  padding-left: 40px;
}

.secondary-text {
  margin-top: 60px;
  width: 540px;
  height: 312px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  opacity: 0.7;
  margin-right: 90px;
  font-family: Popins;
}

.secondary-image {
  width: 350px;
  height: 350px;
  padding-bottom: 135px;
  padding-top: 61px;
}

.image-one {
  border-radius: 30px 0px;
  opacity: 0.9;
}

.line-one {
  display: flex;
}

.square {
  width: 30px;
  height: 30px;
  background-color: #7a66cc;
  border-radius: 10px 0px;
  margin-bottom: 40px;
  margin-top: -50px;
}

.text {
  margin-top: -45px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  font-family: Popins;
  margin-right: 40px;
}

.line-two {
  display: flex;
}

.square-two {
  width: 30px;
  height: 30px;
  background-color: #7a66cc;
  border-radius: 10px 0px;
  margin-bottom: 30px;
  margin-top: -25px;
}
.text-two {
  margin-top: -20px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  font-family: Popins;
  margin-right: 62px;
}

.MTV {
  margin-left: 405px;
  border: 1px solid #fff;
  width: 1110px;
  height: 313px;
  border-radius: 30px 0px;
  margin-top: 238px;
  margin-bottom: 180px;
}

.MTV-text {
  font-family: Popins;
  font-weight: 400;
  width: 520px;
  font-size: 18px;
  color: #fff;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 510px;
  padding-bottom: 25px;
}

.MTV-underline {
  height: 1px;
  background-color: gray;
  width: 500px;
  margin-left: 80px;
}

.popup {
  padding-bottom: 50px;
  padding-left: 80px;
  padding-top: 40px;
}

.popup a {
  text-decoration: none;
  color: #7a66cc;
  font-size: 18px;
  font-weight: 700;
  font-family: Popins;
}

.MTV-image {
  margin-left: 700px;
  margin-top: -350px;
}
.MTV-image img {
  width: 370px;
  height: 483px;
  border-radius: 30px 0px;
}

.image-cards {
  margin-left: 400px;
  display: flex;
}

.image-cards img {
  border-radius: 30px 0px;
}

.rec2,
.rec3 {
  width: 255px;
  height: 235px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.rec-text {
  width: 540px;
  height: 235px;
  background-image: url(Rectangle\ 25.jpg);
  border-radius: 32px 0px;
  margin-top: 260px;
  margin-left: -850px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7a66cc;
  font-size: 24px;
}

.BUY {
  margin-top: 180px;
  margin-left: 400px;
}
.BUY-cards {
  display: flex;
}

.BUY-card1 {
  background-color: #2f2b2b;
  height: 460px;
  width: 350px;
  margin-right: 35px;
  background-image: url(Rectangle\ 27.png);
  background-repeat: no-repeat;
  border-radius: 30px 0px;
}
.BUY-card2 {
  background-color: #2f2b2b;
  height: 460px;
  width: 350px;
  margin-right: 35px;
  background-image: url(Rectangle\ 27\ \(1\).png);
  background-repeat: no-repeat;
  border-radius: 30px 0px;
}
.BUY-card3 {
  background-color: #2f2b2b;
  height: 460px;
  width: 350px;
  margin-right: 35px;
  background-image: url(Rectangle\ 27\ \(2\).png);
  background-repeat: no-repeat;
  border-radius: 30px 0px;
}
.card-header{
        color: #FFFFFF;
        opacity: 50%;
        font-weight: 700;
        font-size: 18px;
        font-family: Popins;
        padding-top: 310px;
        padding-left: 35px;
}
.card-ordinary{
        padding-top: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        font-family: Popins;
        padding-left: 35px;
}

.card-date{
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        opacity: 0.5;
        padding-top: 46px;
        padding-left: 40px;
        padding-bottom: 20px;
        width: 94px;
        
}

.card-ticket{
        width: 180px;
        height: 60px;
        border-radius: 30px 0px;
        background-color: #7a66cc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -55px;
        margin-left: 170px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        font-family: Popins;
        z-index: 999;
}
.card-ticket a{
        text-decoration: none;
        color: #FFFFFF;
}

.card-ticket a:hover{
        cursor: pointer;
}

.end-logo{
        display: flex;
        margin-top: 200px;
        justify-content: center;
        align-items: center;
        margin-bottom: 66px;
}

.end-face{
        margin-right: 20px;
}
.contacts{
        color: #fff;
        font-size: 24px;
        font: 600;
        margin-bottom: 10px;
        text-align: center;
}

.aman{
        font-size: 18px;
        color: white;
        font-weight: 600;
        margin-left: 693px;
        width: 199px;
        height: 54px;
        text-align: right;
        text-transform: uppercase;
        
}

.JH{
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        margin-left: 30px;
        text-transform: uppercase;
        font-family: Popins;
}
.managment{
        display: flex;
}

.Apple
{
        margin-right: 400px;
        display: flex;
        margin-left: 400px;
        margin-top: 90px;
        justify-content: space-between;
}

.Apple img {
        width: 30px;
        height: 30px;
}

.DJ-Bright{
        margin-top: 128px;
        color:#fff;
        opacity: 0.5;
        text-align: center;
        margin-bottom: 20px;

}

